@green: #4EB05C;//#1f821f;//#196819;// #2C6E2A;//#638c08;

.GSlogo {
  cursor: pointer;
  text-align: center;
  margin: auto;
  width: 200px;
  margin-bottom: 20px;
  img {
    background: @green;
    width: 100%;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.bold-text {
  font-family: @boldest-graphics;
  font-style: italic;
  text-transform: uppercase;
  padding-right: 2px;
}

a {
  font-family: @med-graphics;
  color: @green;
  &:hover {
    color: darken(@green,20%);
  }
}

.noresults {
  padding-top: 30px;
  font-style: italic;
  &.hide {
    display: none;
  }
}


.hed {
  font-family: @bold-graphics;
  color: @green;
  font-size: 22px;
}

.chatter {
  font-size: 16px;
  @media @mobile {
    padding: 0;
    text-align: left;
  }
}

.credit {
  font-family: @med-graphics;
  padding: 30px 0;
  padding-bottom: 0;
  @media @mobile {
    padding: 30px 10px 20px 0;
  }
}

.clear {
  color: @dark-gray;
  font-style: italic;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  @media @mobile {
    font-size: 13px;
  }
}

.button {
  background: white;//lighten(@light-gray,10%);
  border: 2px solid @green;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  font-family: @med-graphics;
  color: @green;
  margin: auto;
  margin-top: 20px;
  @media @mobile {
    margin-top: 30px;
    width: 95%;
  }
  padding: 10px 0;
  &.hide {
    display: none;
  }
  &:hover, &.active {
    background: @green;
    color: white;
    cursor: pointer;
  }
  .fa {
    padding-right: 5px;
  }
}

.pot-elements-container {
  margin-top: 20px;
  height: 800px;
  overflow-y: scroll;
  padding: 10px 20px;
  border: 2px solid @green;
  border-radius: 5px;
  background: white;//lighten(@light-gray,10%);
  &.hide {
    display: none;
  }
}

.interactive-wrapper {
  font-family: @block-graphics;
  font-size: 16px;
  max-width: 900px;
  width: 95%;
  margin: auto;
  background: lighten(@green,40%);
  padding: 40px;
  @media @tablet {
    width: 100%;
  }
  @media @mobile {
    padding: 40px 20px;
  }
}

.search-container {
  margin: auto;
  text-align: center;
  padding: 20px 0;
  padding-bottom: 30px;
  @media @mobile {
    width: 100%;
  }
  .fa-search {
    @media @mobile {
      font-size: 22px;
      padding: 5px;
    }
  }
}

.pot-element {
  display: none;
  @media @mobile {
    font-size: 14px;
  }
  &.active {
    display: block;
  }
  .county {
    padding-bottom: 2px;
    margin-bottom: 4px;
    @media @mobile {
      font-size: 16px;
    }
  }
  .no, .yes {
    // font-size: 20px;
    font-family: @bold-graphics;
  }
  .fa-times, .fa-check-square-o {
    font-size: 20px;
    padding-right: 10px;
    @media @mobile {
      font-size: 16px;
    }
  }
  .no, .fa-times {
    color: red;
  }
  .yes, .fa-check-square-o {
    color: @green;
  }

}

.update {
  font-style: italic;
  font-size: 14px;
  padding-top: 5px;
  @media @mobile {
    font-size: 13px;
  }
}

.note {
  padding-top: 30px;
  .bold-class {
    font-family: @bold-graphics;
  }
  @media @mobile {
    padding-top: 30px;
    // padding: 10px;
    font-size: 15px;
  }
  &.top {
    @media @mobile {
      padding-top: 50px;
    }
  }
}

#searchbar {
  border-radius: 0;
  padding: 10px 20px;
  border: 1px solid @light-gray;
  margin-left: 20px;
  width: 500px;
  @media @mobile {
    padding: 10px;
  }
}
input {
  font-family: @block-graphics;
  font-size: 14px;
}

.sentence {
  text-align: center;
  &.bottom {
    @media @mobile {
      padding-top: 20px;
    }
  }
  @media @mobile {
    line-height: 1;
  }
}

.pot-elements-container {
  .pot-element {
    padding: 20px 0;
    @media @mobile {
      padding: 10px 0;
    }
  }
  .county {
    font-family: @med-graphics;
    border-bottom: 1px solid black;
  }
}

.selection {
  cursor: pointer;
  font-family: @bold-graphics;
  font-size: 16px;
  border: none;
  padding: 5px 20px;
  margin: 5px;
  color: @green;
  // background: lighten(@light-gray,10%);
  background: white;
  // border-radius: 0px;
  border-bottom: 1px @dark-gray dotted;
  // -webkit-appearance: none;
  -webkit-border-radius: 0px;
  @media @tablet {
    width: 400px;
  }
  @media @mobile {
    width: 95%;
    font-size: 16px;
  }
}

.select-container {
  position: relative;
  height: 100%;
  display: inline-block;
}

// #select-county {
//   &:after {
//     content: '\f107';
//     display: block;
//     font-size: 30px;
//     font: normal normal normal 30px/1 FontAwesome;
//     position: absolute;
//     right: 10px;
//     top: 7px;
//     @media @mobile {
//       font-size: 25px;
//       top: 12px;
//       right: 10px;
//     }
//   }
// }

.fa-times, .no {
  color: red;
}
.fa-check-square-o, .yes {
  color: @green;
}
.no, .yes {
  font-family: @med-graphics;
}
.county-result {
  font-family: @med-graphics;
  font-style: italic;
}

#result {
  background: white;//lighten(@light-gray,10%);
  text-align: center;
  border: 2px solid @green;
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  &:empty {
    display:none;
  }
  @media @mobile {
    width: 95%;
    padding: 10px;
    font-size: 14px;
  }
}

.pot-table {
  padding: 40px 0;
  padding-bottom: 20px;
  @media @mobile {
    padding: 20px 0;
  }
  .update-date {
    font-style: italic;
    font-size: 12px;
  }
  tbody {
    th {
      background: @light-gray;
    }
  }
  thead {
    background: darken(@green,5%);
    color: white;
  }
  .county {
    font-family: @med-graphics;
  }
}

th {
  padding: 4px;
  @media @mobile {
    // padding: 5px 10px;
    padding: 0;
    font-size: 12px;
  }
}

.list-hed {
  padding-bottom: 5px;
  // border-bottom: 1px solid @dark-gray;
}
